 *
 {
     padding: 0;
    margin: 0;
    box-sizing: border-box;

}


        .Gallery {
            width: 500px;
            height: 500px;
            background-color:green;
            border: 20px solid purple;
            margin: auto;
            text-align: center;
        }

        .Gallery h1{
            color: white;
            text-align: left;
            padding-top: 40px;
            font-size: 55px;
            font-family: calibri;
        }

 