 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;

 }

 .parent {
     background-color: blueviolet;
     padding: 80px;
     display: flex;
     gap: 30px;
     justify-content: center;


 }

 .box1 {
     background-color: black;
     color: aliceblue;
     height: 200px;
     width: 200px;
     display: flex;
     justify-content: center;

      
 }