*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(187, 171, 89);
}
.profile{
    background-color: rgb(6, 62, 71);
    color: rgb(5, 11, 12);
    padding: 30px;
    

   
    
}
.profile_1{

    padding: 20px;
    color: rgba(152, 2, 2, 0.871);
    font-family: monospace;
}
.Profile_card{
    padding: 20px;
    background-color:rgb(187, 171, 89);
    width: 600px;
    text-align: center;
    gap: 20px;
    transition: .2s ease;
    
}
.profile_image{
    background-color: rgb(5, 45, 59);
    border-radius: 200px;
}
.content{
    padding: 30px;
}
 
.red{
    color: rgba(152, 2, 2, 0.871);
}

.green{
    color: rgb(5, 45, 59);
}
.title{
    padding: 30px;
    color:  rgb(5, 45, 59);
}
.detail{
    padding: 30px;
    display: flex;
   justify-content: space-between;
}
button:hover{
    padding: 10px;
    gap: 20px;
    background-color: rgb(3, 36, 52);
    color: rgb(163, 168, 90);
}
button::after{
    content: "💬";
    color: rgba(174, 226, 222, 0.904);
}
button::before{
    content: "👍🏻";
    color:black;
}
img:hover{
transform: scale(0.7);
}
button{
    background-color: black;
    color: rgba(192, 235, 214, 0.759);
}