 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color:rgb(213, 194, 96);
    color:rgb(3, 36, 52);
}

/* Navigation */

nav{
    background-color:rgb(3, 36, 52);
    color:rgb(240, 189, 127);
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    color:rgb(240, 189, 127);
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:rgb(240, 189, 127);
    font-size:18px;
    transition:0.3s;
}

nav ul li a:hover{
    color:white;
}

/* Hero Section */

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color:rgb(3, 36, 52);
    color:rgb(240, 189, 127);
}

.hero h2{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:24px;
}

/* Common Content */

.content{
    padding:60px;
    text-align:center;
}

.content h2{
    margin-bottom:20px;
    color:rgb(3, 36, 52);
}

/* Gallery */

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    margin-top:30px;
}

.gallery img{
    width:300px;
    height:220px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(87,90,20,0.5);
    transition:0.5s;
}

.gallery img:hover{
    transform:scale(1.05);
}

/* Event Cards */

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    margin-top:30px;
}

.card{
    width:250px;
    background-color:rgb(3, 36, 52);
    color:rgb(240, 189, 127);
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 45px rgba(87,90,20,0.8);
    transition:0.5s ease;
}

.card:hover{
    transform:scale(1.08);
}

.card h3{
    margin-bottom:15px;
}

/* Footer */

footer{
    background-color:rgb(3, 36, 52);
    color:rgb(240, 189, 127);
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* Mobile */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    nav ul li{
        margin:10px 0;
    }

    .hero h2{
        font-size:38px;
    }

    .content{
        padding:30px;
    }
}

