#section{
    background-color: lightsalmon;
}
.head{
    color:rgb(0, 96, 128);
}
#foot{
    color: rgb(50, 4, 253);
}
section{
    color: rgb(7, 7, 7);
}
#history{
    color: rgb(132, 250, 6);
}
.li{
    color: rgb(255, 230, 0);
}
div{
    color: red;
}
.more{
    color:red;

}
#footer{
    color:green;
}
#sam {
color:chartreuse;
}
