.day-card{
    width:300px;
    background:rgba(146, 163, 161, 0.727);
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.2);
    text-align:center;
    transition:.3s;
}

.day-card:hover{
    transform:translateY(-8px);
}

.day-card h2{
    color:#0f0815d7;
    margin-bottom:10px;
}

.day-card h3{
    margin-bottom:10px;
}

.day-card p{
    color:rgb(213, 203, 203);
    margin-bottom:20px;
}

.day-card button{
    width:100%;
    padding:12px;
    border:none;
    background:#e5e5e5c2;
    color:white;
    border-radius:8px;
    cursor:pointer;
}