 .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
    background-color: #765fdb9b;
    min-height: 60;
}

/* Responsive */
@media (max-width: 768px) {
    .home {
        padding: 15px;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .home {
        flex-direction: column;
        align-items: center;
    }
}